In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Data.csv', encoding = "ISO-8859-1")

In [38]:
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,2000-01-03,0,A 'hindrance to operations': extracts from the...,Scorecard,Hughes' instant hit buoys Blues,Jack gets his skates on at ice-cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl's successor drawn into scandal,The difference between men and women,"Sara Denver, nurse turned solicitor",Diana's landmine crusade put Tories in a panic,Yeltsin's resignation caught opposition flat-f...,Russian roulette,Sold out,Recovering a title
1,2000-01-04,0,Scorecard,The best lake scene,Leader: German sleaze inquiry,"Cheerio, boyo",The main recommendations,Has Cubie killed fees?,Has Cubie killed fees?,Has Cubie killed fees?,...,On the critical list,The timing of their lives,Dear doctor,Irish court halts IRA man's extradition to Nor...,Burundi peace initiative fades after rebels re...,PE points the way forward to the ECB,Campaigners keep up pressure on Nazi war crime...,Jane Ratcliffe,Yet more things you wouldn't know without the ...,Millennium bug fails to bite
2,2000-01-05,0,Coventry caught on counter by Flo,United's rivals on the road to Rio,Thatcher issues defence before trial by video,Police help Smith lay down the law at Everton,Tale of Trautmann bears two more retellings,England on the rack,Pakistan retaliate with call for video of Walsh,Cullinan continues his Cape monopoly,...,South Melbourne (Australia),Necaxa (Mexico),Real Madrid (Spain),Raja Casablanca (Morocco),Corinthians (Brazil),Tony's pet project,Al Nassr (Saudi Arabia),Ideal Holmes show,Pinochet leaves hospital after tests,Useful links

In [33]:
df.shape

(4101, 27)

In [8]:
y = df.iloc[:,1]

In [10]:
xx = df.iloc[:,2:27]

In [12]:
xx.head(1)

,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,A 'hindrance to operations': extracts from the...,Scorecard,Hughes' instant hit buoys Blues,Jack gets his skates on at ice-cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,Derby raise a glass to Strupar's debut double,"Southgate strikes, Leeds pay the penalty",...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl's successor drawn into scandal,The difference between men and women,"Sara Denver, nurse turned solicitor",Diana's landmine crusade put Tories in a panic,Yeltsin's resignation caught opposition flat-f...,Russian roulette,Sold out,Recovering a title

In [17]:
col = [x for x in range(len(df.columns))]

In [19]:
df.columns = col

In [21]:
df.head(1)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,2000-01-03,0,A 'hindrance to operations': extracts from the...,Scorecard,Hughes' instant hit buoys Blues,Jack gets his skates on at ice-cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl's successor drawn into scandal,The difference between men and women,"Sara Denver, nurse turned solicitor",Diana's landmine crusade put Tories in a panic,Yeltsin's resignation caught opposition flat-f...,Russian roulette,Sold out,Recovering a title

In [26]:
' '.join(x for x in df.iloc[1,2:27])

"Scorecard The best lake scene Leader: German sleaze inquiry Cheerio, boyo The main recommendations Has Cubie killed fees? Has Cubie killed fees? Has Cubie killed fees? Hopkins 'furious' at Foster's lack of Hannibal appetite Has Cubie killed fees? A tale of two tails I say what I like and I like what I say Elbows, Eyes and Nipples Task force to assess risk of asteroid collision How I found myself at last On the critical list The timing of their lives Dear doctor Irish court halts IRA man's extradition to Northern Ireland Burundi peace initiative fades after rebels reject Mandela as mediator PE points the way forward to the ECB Campaigners keep up pressure on Nazi war crimes suspect Jane Ratcliffe Yet more things you wouldn't know without the movies Millennium bug fails to bite"

In [40]:
sandy = []
for i in range(len(df[:])):
    joining = ' '.join(str(x) for x in df.iloc[i,2:27])
    sandy.append(joining)

In [43]:
sandy[33]

"England to get salaries tied to results in elastic bands Sunderland find new identity as The Black Cats Heskey up front and very personal Excuse us, can we have our footballers back? Dutch declare war on Euro 2000 black market Burns becomes a Bhoy again Beckham goes fromzero to Keegan's hero... ...but the spin may not wash with Ferguson Basque politician killed by Spanish car bomb England v Argentina: players to watch Is ignorance bliss? Britain 'low on crime but tough on sentencing' The right to secrecy The right to secrecy  - part two Iran election: what the papers say on the web Utilities go for the one-stop shop Large Emile, Big deal and Great fat hope Blow for BBC means Dyke must get tough Television licence fee to increase by £3 Robo doc An everyday addiction What works? I thought I would never walk again Dear doctor Checks in the post"

In [44]:
sandy[44]

"Justice dawns on Forgotten Five Adams goes for French check-up England has Europe's lowest card count Wasteful Ipswich count their blessings Marcelo justifies the third prong Hughes strikes a blow for Baggies pride Bent gives the plot a final twist Solskjaer takes United top in a trice Vialli cool about his Bridge hand Guiding hands Fear of the truth State of despair as public schools get the cream Ballymeena Protestants angered by Neeson honour Could do better 'Who are the democrats?' asks beseiged Blair Roaring in the Aussie style Cocky Paolo, Rich Mart and Big Ron Verisign in $21bn takeover Ulster: ready to talk, but little to say The Footsie Words of wisdom Take a walk on the wild side Phoebe's choice Chains of love Battle of two dynasties"

In [50]:
corpus = []
import re
from nltk.stem import WordNetLemmatizer
wn = WordNetLemmatizer()
from nltk.corpus import stopwords
stopwords = stopwords.words('english')
for i in range(len(df[:])):
    cleaning = re.sub('[^a-zA-Z]',' ',sandy[i])
    cleaning = cleaning.lower()
    cleaning = cleaning.split()
    cleaning = [wn.lemmatize(x) for x in cleaning if not x in stopwords]
    cleaning = ' '.join(cleaning)
    corpus.append(cleaning)

In [51]:
corpus[33]

'england get salary tied result elastic band sunderland find new identity black cat heskey front personal excuse u footballer back dutch declare war euro black market burn becomes bhoy beckham go fromzero keegan hero spin may wash ferguson basque politician killed spanish car bomb england v argentina player watch ignorance bliss britain low crime tough sentencing right secrecy right secrecy part two iran election paper say web utility go one stop shop large emile big deal great fat hope blow bbc mean dyke must get tough television licence fee increase robo doc everyday addiction work thought would never walk dear doctor check post'

In [49]:
sandy[33]

"England to get salaries tied to results in elastic bands Sunderland find new identity as The Black Cats Heskey up front and very personal Excuse us, can we have our footballers back? Dutch declare war on Euro 2000 black market Burns becomes a Bhoy again Beckham goes fromzero to Keegan's hero... ...but the spin may not wash with Ferguson Basque politician killed by Spanish car bomb England v Argentina: players to watch Is ignorance bliss? Britain 'low on crime but tough on sentencing' The right to secrecy The right to secrecy  - part two Iran election: what the papers say on the web Utilities go for the one-stop shop Large Emile, Big deal and Great fat hope Blow for BBC means Dyke must get tough Television licence fee to increase by £3 Robo doc An everyday addiction What works? I thought I would never walk again Dear doctor Checks in the post"

In [76]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.naive_bayes import MultinomialNB

In [77]:
cv = CountVectorizer(max_features=10000)
rf = RandomForestClassifier()
mn = MultinomialNB()

In [63]:
x = cv.fit_transform(corpus).toarray()

In [64]:
x.shape

(4101, 10000)

In [66]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.30,random_state = 42)

In [69]:
rf.fit(x_train,y_train)

RandomForestClassifier()

In [70]:
y_pred = rf.predict(x_test)

In [75]:
accuracy = accuracy_score(y_pred,y_test)
print(accuracy)
confusion = confusion_matrix(y_pred,y_test)
print(confusion)
report = classification_report(y_pred,y_test)
print(report)

0.5101543460601138
[[204 236]
 [367 424]]
              precision    recall  f1-score   support

           0       0.36      0.46      0.40       440
           1       0.64      0.54      0.58       791

    accuracy                           0.51      1231
   macro avg       0.50      0.50      0.49      1231
weighted avg       0.54      0.51      0.52      1231

In [78]:
mn.fit(x_train,y_train)

MultinomialNB()

In [80]:
y_pred_mn = mn.predict(x_test)

In [81]:
accuracy = accuracy_score(y_pred_mn,y_test)
print(accuracy)
confusion = confusion_matrix(y_pred_mn,y_test)
print(confusion)
report = classification_report(y_pred_mn,y_test)
print(report)

0.5174654752233956
[[272 295]
 [299 365]]
              precision    recall  f1-score   support

           0       0.48      0.48      0.48       567
           1       0.55      0.55      0.55       664

    accuracy                           0.52      1231
   macro avg       0.51      0.51      0.51      1231
weighted avg       0.52      0.52      0.52      1231

In [82]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(mn, x, y, cv=10)
scores

array([0.48175182, 0.46829268, 0.49268293, 0.4804878 , 0.45365854,
       0.51707317, 0.50731707, 0.48536585, 0.52439024, 0.52195122])

In [84]:
scores.mean()

0.49329713370126405